body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.apartments {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.apartments article {
    max-width: 400px;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
}

.alert {
    margin-bottom: 15px;
    padding: 4px 12px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}


.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel-caption {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
}

.carousel-caption.active {
    display: block;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

@media (min-width: 760px) {
    .apartments {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .apartments img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        /* Escala y recorta la imagen para llenar el contenedor */
    }

    .detail-apartment {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }


}

.container.apartments a {
    text-decoration: none;
} 

.apartment.disabled{
    border: 2px solid red;
} 